$color-fondo: rgba(0, 0, 0, 0.6);
$font-size: 34px;
$color-dr: red;
$color-wn: chartreuse;
$color-em: lightblue;
$color-primario: blueviolet;
$color-secundario: mediumslateblue;
$color-background: #13001D;